@model List<Subject>

<div class="card">
    <h2>Dərslər</h2>
    <p><a asp-action="Create">Yeni dərs əlavə et</a></p>
</div>

<table>
    <thead>
        <tr>
            <th>Kod</th>
            <th>Ad</th>
            <th>Sinif</th>
            <th>Müəllim</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.Class</td>
                <td>@item.TeacherFirstName @item.TeacherLastName</td>
                <td class="actions">
                    <a asp-action="Details" asp-route-id="@item.Id">Bax</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redaktə</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
